---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';

import { getHeaderData, getFooterData } from '~/navigation';
import { getLangFromUrl } from '~/utils/i18n';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
const pageLang = getLangFromUrl(Astro.url);
---

<Layout metadata={metadata}>
  <slot name="head" slot="head" />
  <slot name="announcement">
    <Announcement />
  </slot>
  <slot name="header">
    <Header {...getHeaderData(pageLang)} isSticky showRssFeed showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...getFooterData(pageLang)} />
  </slot>
</Layout>
